@import "../../global-styles/variables.scss";

.header-nav {
  font-size: 2rem;
  font-weight: 400;

  a {
    color: $purple-two;

    &:not(:last-child) {
      margin-right: 7.2rem;
    }

    &:hover {
      border-bottom: $purple-two solid 1px;
      padding-bottom: 0.5rem;
    }

    &.active {
      font-weight: 600;
    }
  }
}

.footer-nav {
  font-size: 1.6rem;
  font-weight: 300;


  a {
    color: $white;

    &:not(:last-child) {
      margin-right: 7.2rem;
    }

    &:hover {
      border-bottom: $white solid 1px;
      padding-bottom: 0.5rem;
    }

    &.active {
      font-weight: 600;
    }
  }
}
