@import "../../global-styles/variables.scss";

.hero-container {
  background-image: linear-gradient(
      to right bottom,
      rgba($purple-five, 0.5),
      rgba($purple-two, 0.5)
    ),
    url(../../assets/images/hero_img.png);
  background-position: center;
  background-size: cover;
  // height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14rem 1rem;

  @media only screen and (max-width: $bp-XXL-large) {
    padding: 10rem 1rem;
  }

  @media only screen and (max-width: $bp-X-medium) {
    padding: 8rem 1rem;
  }

  .main-header {
    color: $white;
    margin-bottom: 6.4rem;
    font-size: 4rem;
    font-weight: 500;
    text-align: center;

    @media only screen and (max-width: $bp-large) {
      font-size: 3.2rem;
    }

    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 3.2rem;
      height: auto;
    }
  }

  .sub-header {
    color: $white;
    font-size: 3.2rem;
    font-weight: 300;
    width: 70%;
    text-align: center;
    line-height: 1.5;

    @media only screen and (max-width: $bp-large) {
      font-size: 2.4rem;
      width: 90%;
    }
  }
}

// -------------- Below here
.how-it-works-section {
  margin: 10rem auto;
  padding: 0 4rem;

  @media only screen and (max-width: $bp-XL-large) {
    padding: 0 2rem;
  }

  @media only screen and (max-width: $bp-X-medium) {
    margin: 8rem auto;
  }

  

  .image-list-container,
  .image-list-flipped {
    display: flex;
    @media only screen and (max-width: $bp-X-medium) {
      align-items: center;
    }

    .how-it-works-image {
      max-width: 50%;
      height: auto;
      border-radius: 5px;

      @media only screen and (max-width: $bp-large) {
        max-width: 55%;
      }

      @media only screen and (max-width: $bp-X-medium) {
        width: 100%;
        margin-bottom: 2.4rem;
      }
    }

    .list-container-right {
      margin-left: 4.8rem;

      @media only screen and (max-width: $bp-XL-large) {
        margin-left: 2.4rem;
      }

      @media only screen and (max-width: $bp-X-medium) {
        margin-left: 0rem;
      }
    }

    .list-container-left {
      margin-right: 4.8rem;

      @media only screen and (max-width: $bp-XL-large) {
        margin-right: 2.4rem;
      }

      @media only screen and (max-width: $bp-X-medium) {
        margin-right: 0rem;
      }
    }

    .list-container-right,
    .list-container-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      li {
        line-height: 1.5;
        margin-bottom: 3.2rem;
        color: $neutral-two;
        letter-spacing: 1px;
      }

      .browse-prisons-link {
        color: $purple-two;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;

        #triangle {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

.image-list-container {
  @media only screen and (max-width: $bp-X-medium) {
    flex-direction: column;
  }
}

.image-list-flipped {
  @media only screen and (max-width: $bp-X-medium) {
    flex-direction: column-reverse;
  }
}

.why-it-matters-section {
  .why-it-matters-text {
    max-width: 80rem;
    text-align: center;
    margin: 0 auto;
    line-height: 2;
    color: $neutral-two;
    letter-spacing: 1px;

    @media only screen and (max-width: $bp-XXL-large) {
      padding: 0 2rem;
    }
    
  }
}

.testimonial-section {
  margin-top: 10rem;

  @media only screen and (max-width: $bp-X-medium) {
    margin-top: 8rem;
  }

  @media only screen and (max-width: $bp-medium-small) {
    padding: 4rem 2rem;
  }

  background-image: linear-gradient(
      to right bottom,
      rgba($purple-five, 0.5),
      rgba($purple-five, 0.5)
    ),
    url(../../assets/images/testimonial_img.png);
  background-position: center;
  background-size: cover;
  padding: 15rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .testimonial-text,
  .testimonial-author {
    color: $white;
  }

  .testimonial-text {
    font-size: 2.4rem;
    width: 60rem;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 300;

    @media only screen and (max-width: $bp-medium-small) {
      font-size: 1.6rem;
      max-width: 90%;
    }
  }

  .testimonial-author {
    font-weight: 500;
    margin-top: 2.4rem;
  }
}

.section-header {
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  color: $neutral-two;
  margin-bottom: 6rem;
}
