@import "../../global-styles/variables.scss";

.inmate-text {
  margin: 0 0 3.2rem 4rem;
  font-size: 2rem;
  color: $neutral-four;
  font-weight: 400;

  @media only screen and (max-width: $bp-X-medium) {
    margin: 0;
    padding: 0 2rem;
  }

  #inmate-number {
    font-weight: 600;
  }
}