@import "./reset.scss";
@import "./variables.scss";

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  background-color: $purple-ten;
}

// .page-container & .content-container helps push the footer to the bottom. 
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  flex: 1;
}

a {
  text-decoration: none;
}
