$white: #ffffff;

// Purple Colors:
$purple-one: #19216c;
$purple-two: #2d3a8c;
$purple-three: #35469c;
$purple-four: #4055a8;
$purple-five: #4c63b6;
$purple-six: #647acb;
$purple-seven: #7b93db;
$purple-eight: #98aeeb;
$purple-nine: #bed0f7;
$purple-ten: #f5f7fa;

// Neutral Colors:
$neutral-one: #1f2933;
$neutral-two: #323f4b;
$neutral-three: #3e4c59;
$neutral-four: #52606d;
$neutral-five: #616e7c;
$neutral-six: #7b8794;
$neutral-seven: #9aa5b1;
$neutral-eight: #cbd2d9;
$neutral-nine: #e4e7eb;
$neutral-ten: #f5f7fa;

// Cyan Colors:
$cyan-one: #05606e;
$cyan-two: #07818f;
$cyan-three: #099aa4;
$cyan-four: #0fb5ba;
$cyan-five: #1cd4d4;
$cyan-six: #3ae7e1;
$cyan-seven: #62f4eb;
$cyan-eight: #92fdf2;
$cyan-nine: #c1fef6;
$cyan-ten: #e1fcf8;


