$white: #ffffff;

$purple-one: #19216C;
$purple-two: #2D3A8C;
$purple-three: #35469C;
$purple-four: #4055A8;
$purple-five: #4C63B6;
$purple-six: #647ACB;
$purple-seven: #7B93DB;
$purple-eight: #98AEEB;
$purple-nine: #BED0F7;
$purple-ten: #F5F7FA;