$white: #ffffff;

// Purple Colors: 
$purple-one: #19216C;
$purple-two: #2D3A8C;
$purple-three: #35469C;
$purple-four: #4055A8;
$purple-five: #4C63B6;
$purple-six: #647ACB;
$purple-seven: #7B93DB;
$purple-eight: #98AEEB;
$purple-nine: #BED0F7;
$purple-ten: #F5F7FA;


// Neutral Colors: 
$neutral-one: #1F2933;
$neutral-two: #323F4B;
$neutral-three: #3E4C59;
$neutral-four: #52606D;
$neutral-five: #616E7C;
$neutral-six: #7B8794;
$neutral-seven: #9AA5B1;
$neutral-eight: #CBD2D9;
$neutral-nine: #E4E7EB;
$neutral-ten: #F5F7FA; 










