@import "../../global-styles/variables.scss";

.full-footer {
  background-color: $purple-five;
  
  .footer-container {
    padding: 5rem 8rem;
    max-width: 120rem;
    margin: 0 auto;
    
    .copyright-text {
      color: $white;
      display: block;
      text-align: center;
      margin-top: 3.2rem;
      font-weight: 200;
    }
  }
}
