@import "../../global-styles//variables.scss";

.inmate-form-container {
  display: flex;
  flex-direction: column;
  background-color: $neutral-ten;
  width: 48rem;
  padding: 5.6rem 5rem;
  border-radius: 1rem;

  .avail-label {
    color: $purple-three;
    display: flex;
    align-items: baseline;
    margin-bottom: 2rem;
  }

  .avail-checkbox {
    margin-right: 1.6rem;
    transform: scale(1.5);
  }

  .file-label {
    margin-bottom: 2rem;
  }

  .file-input {
    color: $purple-three;
    font-size: 1.6rem;
    margin-right: 1rem;
  }

  .inmate_info_textarea {
    max-width: 100%;
    padding: 1.6rem 2rem;
    border: 1px solid $neutral-eight;
    border-radius: 10px;
    margin-bottom: 2.4rem;
    color: $purple-three;
    font-size: 1.6rem;
    font-weight: 600;
  }

  .inmate-btn-container {
    display: flex;
    justify-content: space-evenly;
  }

}
