@import "../../global-styles/variables.scss";

.admin-container {
  background-color: $white;
  max-width: 120rem;
  margin: 10rem auto;
  border-radius: 5px;

  .button-container {
    display: flex;
    justify-content: flex-end;
  }
}