@import "../../global-styles/variables.scss";


.bg-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(155, 155, 155, 0.44);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .edit-form {
    background-color: $neutral-ten;
    padding: 8rem 4rem;
    width: 56rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    .form-btn-row {
      display: flex;
      justify-content: space-between;
    }

    .file-label {
      margin-bottom: 2rem;
    }
  
    .file-input {
      color: $purple-three; 
      font-size: 1.6rem;
      margin-right: 1rem;
    }

    .dual-btn-container {
      display: flex;
      justify-content: space-evenly;
    }
  }
}