@import "../../global-styles/variables.scss";

.inmate-box {
  display: flex;
  flex-direction: column;
  width: 28rem;
  border-radius: 1rem;
  box-shadow: 0 .8rem 1.3rem rgba(black, 0.15);
  transition: all 0.3s;

  .inmate-box-row-image {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin: 3rem auto 1.6rem;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .inmate-box-row-name {
      color: $neutral-two;
      letter-spacing: 0.08rem;
      font-size: 2rem;
      font-weight: 600;
    }

    .inmate-box-row-availability {
      color: $neutral-one;
      letter-spacing: 0.08rem;
      font-size: 1.8rem;
      margin-top: 1rem;
    }

    .inmate-box-row-date {
      color: $neutral-six;
      letter-spacing: 0.08rem;
      font-size: 1.8rem;
      margin-top: 1rem;
    }

    .inmate-box-row-info {
      color: $purple-five;
      letter-spacing: 0.08rem;
      font-size: 1.6rem;
      margin: 2rem 0;
      text-align: center;
      padding: 0 1rem;
    }
  }

  .inmate-button-container {   
    background-color: $neutral-ten;
    display: flex;
    justify-content: space-evenly;
    padding: 1.6rem 0;
    margin-top: auto
  }


}

.inmate-row {
  display: flex;
  align-items: center;
  // padding: 1rem 0;
  width: 80rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  cursor: pointer;
  box-shadow: 0 0.8rem 1.3rem rgba(black, 0.15);
  transition: all 0.3s;
  border-radius: 1rem;


  &:hover {
    box-shadow: 0 1rem 2rem rgba(black, 0.2);
  }

  .inmate-box-row-image {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin-left: 3.2rem;
  }

  .text-container {
    display: flex;
    align-items: baseline;


    .inmate-box-row-name {
      font-size: 2rem;
      font-weight: 600;
      color: $neutral-two;
      margin-left: 4.8rem;
    }

    .inmate-box-row-availability {
      // font-size: 1.8rem;
      color: $neutral-one;
      margin-left: 4rem;
    }

    .inmate-box-row-date {
      color: $neutral-six;
      margin-left: 4rem;
    }
  }

  .inmate-box-row-btn-container {
    margin-left: auto;
    height: 12rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $neutral-ten;

    .inmate-box-row-btn {
      color: $purple-three;
      text-transform: uppercase;
      font-weight: 600;

      #triangle {
        margin-left: 0.5rem;
      }
    }
  }
}
