@import "../../global-styles/variables.scss";

.contact-form {
  width: 50rem;
  padding: 4.4rem 6.4rem 6.4rem 6.4rem;
  background-color: $neutral-ten;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;

  .close-button {
    margin: 0 0 1.6rem auto;
    color: $purple-six;
    font-size: 2.4rem;
    cursor: pointer;
    padding: 1rem;
  }

  .form-error {
    color: red;
    margin-bottom: 1.6rem;
  }
} 