@import "../../global-styles/variables.scss";

.full-header {
  background-color: $white;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 8rem 4rem 10rem;
    max-width: 120rem;
    margin: 0 auto;

    @media only screen and (max-width: $bp-largest) {
      width: 100%;
      flex-direction: column;
      padding: 4rem 0;
    }

    .logo {
      width: 15rem;

      @media only screen and (max-width: $bp-largest) {
        margin-bottom: 2rem;
      }
    }
  }
}
