@import "../../global-styles/variables.scss";

.full-header {
  background-color: $white;
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 8rem 4rem 10rem;
    max-width: 120rem;
    margin: 0 auto;
    .logo {
      width: 15rem;
    }
  }
}
