@import "../../global-styles//variables.scss";

.prison-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24rem;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 .8rem 1.3rem rgba(black, 0.15);
  transition: all 0.3s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(black, 0.2);
  }

  .prison-box-banner {
    height: 10rem;
  }

  .prison-box-title,
  .prison-box-count,
  .prison-box-street,
  .prison-box-city-state {
    margin-left: 1.6rem;
  }

  .prison-box-title {
    font-size: 2.4rem;
    font-weight: 500;
    margin-top: 2.4rem;
    color: $neutral-five;
    letter-spacing: 0.08rem;
  }

  .prison-box-count {
    margin-top: 1.6rem;
    color: $neutral-seven;
  }

  .prison-box-street {
    margin-top: 1.6rem;
    font-weight: 500;
    color: $neutral-six;
  }

  .prison-box-city-state {
    margin-top: 0.5rem;
    font-weight: 500;
    color: $neutral-six;
  }

  .prison-box-button {
    color: $white;
    background-color: $purple-three;
    text-align: center;
    padding: 1.5rem 0;
    margin-top: 2.4rem;
    text-transform: uppercase;

    #triangle {
      margin-left: 0.5rem;
    }
  }
}
