@import "../../global-styles//variables.scss";

.login-signup-form {
  display: flex;
  flex-direction: column;
  background-color: $white;
  width: 40rem;
  padding: 5.6rem 5rem;
  border-radius: 1rem;

  .login-signup-route {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 1.6rem;
    text-align: center;
    color: $purple-six;
    cursor: pointer;
  }
}

